<!-- ADMIN LOGIN PAGE HTML FILE(adminlogin.html)-->
<!doctype html>
<html lang="en" dir="rtl">

<!-- START OF HEAD -->
<!-- CONTAINS ALL THE REQUIRED RESOURCES AND HAS ATTRIBUTES FOR THE PAGE'S DIMENSIONS AND SCALINGS -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Rokithkumar">
	<link rel="stylesheet" href="{{url_for('static',filename='Resources/bootstrap.min.css')}}">
	<title>ATTENCE</title>
	<link rel="shortcut icon" href="{{url_for('static',filename='/Resources/favicon.ico')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='/Resources/style.css')}}">
</head>
<!-- END OF HEAD -->

<!-- START OF BODY -->
<!-- CONTAINS THE ADMIN LOGIN PAGE WHICH GIVES ACESS TO FEW TASKS WHICH HELP IN MANAGING STUDENTS ATTENDANCE -->
<body>
	<!-- START OF NAV BAR -->
	<!-- CONTAINS NAVIGATION BAR AND FEW TABS TO NAVIGATE TO OTHER HTML PAGES -->
	<section class="header navigation fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<nav class="navbar navbar-expand-lg">
						<!-- LOGO -->
						<a class="navbar-brand" href="home"> <img src="{{url_for('static',filename='Resources/logo.png')}}" 
							alt="logo"> </a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" 
						aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						 <span class="tf-ion-android-menu"></span> </button>
						<div class="collapse navbar-collapse" id="navigation">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item"> <a class="nav-link" href="update">Updates</a> </li>
								<li class="nav-item"> <a class="nav-link" href="admin">Admin</a> </li>
								<li class="nav-item"> <a class="nav-link" href="student">Student</a> </li>
								<li class="nav-item"> <a class="nav-link" href="attendance">Attendance</a> </li>
								<li class="nav-item"> <a class="nav-link" href="home">Home</a> </li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END OF NAV BAR -->

  <!-- START OF THE ADMIN LOGIN PAGE HEADING SECTION -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="title text-center">
						<h4>ATTENCE</h4>
						<h2>Admin Login Page</h2> <span class="border"></span>
						<p>Welcome to Admin Login Page. Please Enter required Credentials to access the Admin Portal</p>
					</div>
				</div>
			</div>
		</div>
	</section>
  <!-- END OF THE ADMIN LOGIN PAGE HEADING SECTION -->

  <!-- START OF ADMIN PAGE LOGIN FORM SECTION -->
	<section>
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-md-12">
					<div class="block text-center">
						<div class="contact-form ">
							<form id="contact-form" action="{{ url_for('getadmin') }}" method="post" role="form" 
							target="_blank">
								<div class="form-group">
									<input type="text" class="text-center" placeholder="Your Username" id="user" 
									class="form-control" 
                  					name="username" id="name" required>
									<label>Enter Username </label>
								</div>
								<div class="form-group">
									<input type="password" class="text-center" placeholder="Your Password" id="pass" 
									class="form-control" 
                  					name="pass" required>
									<label>Enter Password </label>
								</div>
								<button id="btn" type="reset" class="btn btn-main-sm">Reset</button>
								<button id="btn" type="submit" class="btn btn-main-sm">Submit</button>
							</form>
						</div>
						<br><br> 
          </div>
				</div>
			</div>
		</div>
	</section>
  <!-- END OF ADMIN PAGE LOGIN FORM SECTION -->

  <!-- START OF FOOTER SECTION -->
	<footer id="footer" class="bg-one">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
						<h3>Technology Used</h3>
						<p>Face Recognition<br>Database<br>Web Development</p>
					</div>
					<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
						<h3>Quick Links</h3>
						<ul>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Report</a></li>
							<li><a href="#">Ask Us</a></li>
							<li><a href="#">Feedback</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
						<h3>Instructions</h3>
						<p>Attendance Tab: Starts Marking the Attendance of Students
							<br> Stundent Tab: To View Your Attendance Records Please Click on Student Tab
							<br>
						</p>
					</div>
					<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
						<h3>About</h3>
						<p>Hello! Welcome to ATTENCE, this Application is an Automated Face Detecting 
              Attendance Marking Application</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<h5>Designed by Rokithkumar</h5> </div>
	</footer>
  <!-- END OF FOOTER SECTION -->
</body>
<!-- END OF BODY  -->
</html>