<!-- UPLOAD PAGE HTML FILE(upload.html)-->
<!doctype html>
<html lang="en" dir="rtl">

<!-- START OF HEAD -->
<!-- CONTAINS ALL THE REQUIRED RESOURCES AND HAS ATTRIBUTES FOR THE PAGE'S DIMENSIONS AND SCALINGS -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Rokithkumar">
	<link rel="stylesheet" href="{{url_for('static',filename='Resources/bootstrap.min.css')}}">
	<title>ATTENCE</title>
	<link rel="shortcut icon" href="{{url_for('static',filename='/Resources/favicon.ico')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='/Resources/style.css')}}">
</head>
<!-- END OF HEAD -->

<!-- START OF BODY -->
<!-- CONTAINS A HTML FORM WHICH ALLOWS THE USER TO UPLOAD A FILE BUT ONLY IN MENTIONED FILE FORMATS 
BASICALLY THIS FILE IS A PICTURE OF THE STUDENT AND FILE NAMED AS REQUIRED(EX: "BE203-Rokith") IN ORDER 
TO ADD THAT NEW STUDENT TO THE APPLICATION -->
<body>
	<section class="hero-area">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-lg-6" style="margin:top ;">
					<!-- THIS COLUMN DISPLAYS THE STATUS OF FILE UPLOAD IT CAN BE SUCCESS OR ANY ERROR-->
					<div class="block">
						<h1>{{status}}</h1>
						<h3>{{sol}}</h3>
						<h6>{{formt}}</h6> </div>
				</div>
				<!-- THIS COLUMN CONATINS THE FORM TO UPLOAD A FILE-->
				<div class="col-lg-6" style="margin: auto;">
					<form action="addnew" method="POST" enctype="multipart/form-data">
						<div id="cf-submit">
							<input type="file" id="contact-submit" class="btn btn-transparent" value="Submit" name="file"> </div>
						<br>
						<input type="submit" class="btn btn-main-sm"> </form>
				</div>
			</div>
		</div>
	</section>

	<!-- START OF FOOTER SECTION -->
	<footer id="footer" class="bg-one">
		<div class="footer-bottom">
			<h5>Designed by Rokithkumar</h5> </div>
	</footer>
	<!-- END OF FOOTER SECTION -->
</body>
<!-- END OF BODY  -->
</html>