<!-- COVER PAGE HTML FILE(cover.html)-->
<!doctype html>
<html lang="en" dir="rtl">

<!-- START OF HEAD -->
<!-- CONTAINS ALL THE REQUIRED RESOURCES AND HAS ATTRIBUTES FOR THE PAGE'S DIMENSIONS AND SCALINGS -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Rokithkumar">
	<link rel="stylesheet" href="{{url_for('static',filename='Resources/bootstrap.min.css')}}">
	<title>ATTENCE</title>
	<link rel="shortcut icon" href="{{url_for('static',filename='/Resources/favicon.ico')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='/Resources/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='/Resources/home.css')}}"> 
</head>
<!-- END OF HEAD -->

<!-- START OF BODY -->
<!-- CONTAINS THE HEADING(WEBSITE NAME - "ATTENCE") USING BOTH CSS FILES FOR ITS STYLING-->
<body>
	<section class="firstbody page-404 text-center d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="first">
					<h1><span>ATTEN</span><span>CE</span></h1> </div>
					<h2>Your Automated Face Detecting Attendance Marking Application</h2> <a href="home"
					 class="btn btn-main mt-20">Let's Get Started</a> </div>
			</div>
		</div>
	</section>
</body>
<!-- END OF BODY -->
</html>