<!-- INDEX/HOME PAGE HTML FILE(index.html)-->
<!doctype html>
<html lang="en" dir="rtl">

<!-- START OF HEAD -->
<!-- CONTAINS ALL THE REQUIRED RESOURCES AND HAS ATTRIBUTES FOR THE PAGE'S DIMENSIONS AND SCALINGS -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Rokithkumar">
	<link rel="stylesheet" href="{{url_for('static',filename='Resources/bootstrap.min.css')}}">
	<title>ATTENCE</title>
	<link rel="shortcut icon" href="{{url_for('static',filename='/Resources/favicon.ico')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='/Resources/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='/Resources/home.css')}}"> 
</head>
<!-- END OF HEAD -->

<!-- START OF BODY -->
<!-- CONTAINS THE HOME/INDEX PAGE -->
<body>
	<!-- START OF NAV BAR -->
	<!-- CONTAINS NAVIGATION BAR AND FEW TABS TO NAVIGATE TO OTHER HTML PAGES -->
	<section class="header navigation fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<nav class="navbar navbar-expand-lg">
						<!-- LOGO -->
						<a class="navbar-brand" href="home"> <img src="{{url_for('static',filename='Resources/logo.png')}}" 
							alt="logo"> </a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" 
						aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"> 
						<span class="tf-ion-android-menu"></span> </button>
						<div class="collapse navbar-collapse" id="navigation">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item"> <a class="nav-link" href="update">Updates</a> </li>
								<li class="nav-item"> <a class="nav-link" href="admin">Admin</a> </li>
								<li class="nav-item"> <a class="nav-link" href="student">Student</a> </li>
								<li class="nav-item"> <a class="nav-link" href="attendance">Attendance</a> </li>
								<li class="nav-item"> <a class="nav-link" href="home">Home</a> </li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END OF NAV BAR -->

  <!-- START OF SECTION 1-->
  <!-- CONATINS HEADING("ATTENCE") FOR THE PAGE WITH ANIMATIONS WITH THE HELP OF CSS-->
    <section>
      <div class="section">
        <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3 class="animate-charcter"> ATTENCE</h3>
              <h5>Your Automated Face Detecting Attendance Marking Application</h5>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- END OF SECTION 1-->
	
	<!-- START OF FOOTER SECTION -->
	<footer id="footer" class="bg-one">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
						<h3>Technology Used</h3>
						<p>Face Recognition<br>Database<br>Web Development</p>
					</div>
					<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
						<h3>Quick Links</h3>
						<ul>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Report</a></li>
							<li><a href="#">Ask Us</a></li>
							<li><a href="#">Feedback</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
						<h3>Instructions</h3>
						<p>Attendance Tab: Starts Marking the Attendance of Students
							<br> Stundent Tab: To View Your Attendance Records Please Click on Student Tab
							<br> </p>
					</div>
					<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
						<h3>About</h3>
						<p>Hello! Welcome to ATTENCE, this Application is an Automated Face Detecting Attendance Marking
						 Application</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<h5>Designed by Rokithkumar</h5> </div>
	</footer>
	<!-- END OF FOOTER SECTION -->
</body>
<!-- END OF BODY  -->
</html>